@model TennisData.Models.MatchRecord

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MatchRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="tny_id" class="control-label"></label>
                <input asp-for="tny_id" class="form-control" />
                <span asp-validation-for="tny_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tny_name" class="control-label"></label>
                <input asp-for="tny_name" class="form-control" />
                <span asp-validation-for="tny_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="surface" class="control-label"></label>
                <input asp-for="surface" class="form-control" />
                <span asp-validation-for="surface" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="draw_size" class="control-label"></label>
                <input asp-for="draw_size" class="form-control" />
                <span asp-validation-for="draw_size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tny_date" class="control-label"></label>
                <input asp-for="tny_date" class="form-control" />
                <span asp-validation-for="tny_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="match_num" class="control-label"></label>
                <input asp-for="match_num" class="form-control" />
                <span asp-validation-for="match_num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="score" class="control-label"></label>
                <input asp-for="score" class="form-control" />
                <span asp-validation-for="score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="best_of" class="control-label"></label>
                <input asp-for="best_of" class="form-control" />
                <span asp-validation-for="best_of" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="is_gs" class="control-label"></label>
                <input asp-for="is_gs" class="form-control" />
                <span asp-validation-for="is_gs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="match_year" class="control-label"></label>
                <input asp-for="match_year" class="form-control" />
                <span asp-validation-for="match_year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="match_month" class="control-label"></label>
                <input asp-for="match_month" class="form-control" />
                <span asp-validation-for="match_month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="avg_52_s" class="control-label"></label>
                <input asp-for="avg_52_s" class="form-control" />
                <span asp-validation-for="avg_52_s" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="avg_52_r" class="control-label"></label>
                <input asp-for="avg_52_r" class="form-control" />
                <span asp-validation-for="avg_52_r" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sf_avg_52_s" class="control-label"></label>
                <input asp-for="sf_avg_52_s" class="form-control" />
                <span asp-validation-for="sf_avg_52_s" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sf_avg_52_r" class="control-label"></label>
                <input asp-for="sf_avg_52_r" class="form-control" />
                <span asp-validation-for="sf_avg_52_r" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tny_stats" class="control-label"></label>
                <input asp-for="tny_stats" class="form-control" />
                <span asp-validation-for="tny_stats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="w_commop_match_prob" class="control-label"></label>
                <input asp-for="w_commop_match_prob" class="form-control" />
                <span asp-validation-for="w_commop_match_prob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="winner" class="control-label"></label>
                <input asp-for="winner" class="form-control" />
                <span asp-validation-for="winner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_name" class="control-label"></label>
                <input asp-for="p0_name" class="form-control" />
                <span asp-validation-for="p0_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_name" class="control-label"></label>
                <input asp-for="p1_name" class="form-control" />
                <span asp-validation-for="p1_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_elo_538" class="control-label"></label>
                <input asp-for="p0_elo_538" class="form-control" />
                <span asp-validation-for="p0_elo_538" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_elo_538" class="control-label"></label>
                <input asp-for="p1_elo_538" class="form-control" />
                <span asp-validation-for="p1_elo_538" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_sf_elo_538" class="control-label"></label>
                <input asp-for="p0_sf_elo_538" class="form-control" />
                <span asp-validation-for="p0_sf_elo_538" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_sf_elo_538" class="control-label"></label>
                <input asp-for="p1_sf_elo_538" class="form-control" />
                <span asp-validation-for="p1_sf_elo_538" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_swon" class="control-label"></label>
                <input asp-for="p0_swon" class="form-control" />
                <span asp-validation-for="p0_swon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_swon" class="control-label"></label>
                <input asp-for="p1_swon" class="form-control" />
                <span asp-validation-for="p1_swon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_svpt" class="control-label"></label>
                <input asp-for="p0_svpt" class="form-control" />
                <span asp-validation-for="p0_svpt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_svpt" class="control-label"></label>
                <input asp-for="p1_svpt" class="form-control" />
                <span asp-validation-for="p1_svpt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_rwon" class="control-label"></label>
                <input asp-for="p0_rwon" class="form-control" />
                <span asp-validation-for="p0_rwon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_rwon" class="control-label"></label>
                <input asp-for="p1_rwon" class="form-control" />
                <span asp-validation-for="p1_rwon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_rpt" class="control-label"></label>
                <input asp-for="p0_rpt" class="form-control" />
                <span asp-validation-for="p0_rpt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_rpt" class="control-label"></label>
                <input asp-for="p1_rpt" class="form-control" />
                <span asp-validation-for="p1_rpt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_52_swon" class="control-label"></label>
                <input asp-for="p0_52_swon" class="form-control" />
                <span asp-validation-for="p0_52_swon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_52_swon" class="control-label"></label>
                <input asp-for="p1_52_swon" class="form-control" />
                <span asp-validation-for="p1_52_swon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_52_svpt" class="control-label"></label>
                <input asp-for="p0_52_svpt" class="form-control" />
                <span asp-validation-for="p0_52_svpt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_52_svpt" class="control-label"></label>
                <input asp-for="p1_52_svpt" class="form-control" />
                <span asp-validation-for="p1_52_svpt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_52_rwon" class="control-label"></label>
                <input asp-for="p0_52_rwon" class="form-control" />
                <span asp-validation-for="p0_52_rwon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_52_rwon" class="control-label"></label>
                <input asp-for="p1_52_rwon" class="form-control" />
                <span asp-validation-for="p1_52_rwon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_52_rpt" class="control-label"></label>
                <input asp-for="p0_52_rpt" class="form-control" />
                <span asp-validation-for="p0_52_rpt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_52_rpt" class="control-label"></label>
                <input asp-for="p1_52_rpt" class="form-control" />
                <span asp-validation-for="p1_52_rpt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_sf_52_swon" class="control-label"></label>
                <input asp-for="p0_sf_52_swon" class="form-control" />
                <span asp-validation-for="p0_sf_52_swon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_sf_52_swon" class="control-label"></label>
                <input asp-for="p1_sf_52_swon" class="form-control" />
                <span asp-validation-for="p1_sf_52_swon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_sf_52_svpt" class="control-label"></label>
                <input asp-for="p0_sf_52_svpt" class="form-control" />
                <span asp-validation-for="p0_sf_52_svpt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_sf_52_svpt" class="control-label"></label>
                <input asp-for="p1_sf_52_svpt" class="form-control" />
                <span asp-validation-for="p1_sf_52_svpt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_sf_52_rwon" class="control-label"></label>
                <input asp-for="p0_sf_52_rwon" class="form-control" />
                <span asp-validation-for="p0_sf_52_rwon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_sf_52_rwon" class="control-label"></label>
                <input asp-for="p1_sf_52_rwon" class="form-control" />
                <span asp-validation-for="p1_sf_52_rwon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_sf_52_rpt" class="control-label"></label>
                <input asp-for="p0_sf_52_rpt" class="form-control" />
                <span asp-validation-for="p0_sf_52_rpt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_sf_52_rpt" class="control-label"></label>
                <input asp-for="p1_sf_52_rpt" class="form-control" />
                <span asp-validation-for="p1_sf_52_rpt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_52_s_adj" class="control-label"></label>
                <input asp-for="p0_52_s_adj" class="form-control" />
                <span asp-validation-for="p0_52_s_adj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_52_s_adj" class="control-label"></label>
                <input asp-for="p1_52_s_adj" class="form-control" />
                <span asp-validation-for="p1_52_s_adj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_52_r_adj" class="control-label"></label>
                <input asp-for="p0_52_r_adj" class="form-control" />
                <span asp-validation-for="p0_52_r_adj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_52_r_adj" class="control-label"></label>
                <input asp-for="p1_52_r_adj" class="form-control" />
                <span asp-validation-for="p1_52_r_adj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_s_pct" class="control-label"></label>
                <input asp-for="p0_s_pct" class="form-control" />
                <span asp-validation-for="p0_s_pct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_r_pct" class="control-label"></label>
                <input asp-for="p0_r_pct" class="form-control" />
                <span asp-validation-for="p0_r_pct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_sf_s_pct" class="control-label"></label>
                <input asp-for="p0_sf_s_pct" class="form-control" />
                <span asp-validation-for="p0_sf_s_pct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_sf_r_pct" class="control-label"></label>
                <input asp-for="p0_sf_r_pct" class="form-control" />
                <span asp-validation-for="p0_sf_r_pct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_s_pct" class="control-label"></label>
                <input asp-for="p1_s_pct" class="form-control" />
                <span asp-validation-for="p1_s_pct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_r_pct" class="control-label"></label>
                <input asp-for="p1_r_pct" class="form-control" />
                <span asp-validation-for="p1_r_pct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_sf_s_pct" class="control-label"></label>
                <input asp-for="p1_sf_s_pct" class="form-control" />
                <span asp-validation-for="p1_sf_s_pct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_sf_r_pct" class="control-label"></label>
                <input asp-for="p1_sf_r_pct" class="form-control" />
                <span asp-validation-for="p1_sf_r_pct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_commop_s_pct" class="control-label"></label>
                <input asp-for="p0_commop_s_pct" class="form-control" />
                <span asp-validation-for="p0_commop_s_pct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_commop_s_pct" class="control-label"></label>
                <input asp-for="p1_commop_s_pct" class="form-control" />
                <span asp-validation-for="p1_commop_s_pct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_commop_r_pct" class="control-label"></label>
                <input asp-for="p0_commop_r_pct" class="form-control" />
                <span asp-validation-for="p0_commop_r_pct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_commop_r_pct" class="control-label"></label>
                <input asp-for="p1_commop_r_pct" class="form-control" />
                <span asp-validation-for="p1_commop_r_pct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="elo_diff" class="control-label"></label>
                <input asp-for="elo_diff" class="form-control" />
                <span asp-validation-for="elo_diff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sf_elo_diff" class="control-label"></label>
                <input asp-for="sf_elo_diff" class="form-control" />
                <span asp-validation-for="sf_elo_diff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_s_pct_obsv" class="control-label"></label>
                <input asp-for="p0_s_pct_obsv" class="form-control" />
                <span asp-validation-for="p0_s_pct_obsv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_s_pct_obsv" class="control-label"></label>
                <input asp-for="p1_s_pct_obsv" class="form-control" />
                <span asp-validation-for="p1_s_pct_obsv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_s_pct_EM" class="control-label"></label>
                <input asp-for="p0_s_pct_EM" class="form-control" />
                <span asp-validation-for="p0_s_pct_EM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_s_pct_EM" class="control-label"></label>
                <input asp-for="p1_s_pct_EM" class="form-control" />
                <span asp-validation-for="p1_s_pct_EM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_r_pct_EM" class="control-label"></label>
                <input asp-for="p0_r_pct_EM" class="form-control" />
                <span asp-validation-for="p0_r_pct_EM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_r_pct_EM" class="control-label"></label>
                <input asp-for="p1_r_pct_EM" class="form-control" />
                <span asp-validation-for="p1_r_pct_EM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_sf_s_pct_EM" class="control-label"></label>
                <input asp-for="p0_sf_s_pct_EM" class="form-control" />
                <span asp-validation-for="p0_sf_s_pct_EM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_sf_s_pct_EM" class="control-label"></label>
                <input asp-for="p1_sf_s_pct_EM" class="form-control" />
                <span asp-validation-for="p1_sf_s_pct_EM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_sf_r_pct_EM" class="control-label"></label>
                <input asp-for="p0_sf_r_pct_EM" class="form-control" />
                <span asp-validation-for="p0_sf_r_pct_EM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_sf_r_pct_EM" class="control-label"></label>
                <input asp-for="p1_sf_r_pct_EM" class="form-control" />
                <span asp-validation-for="p1_sf_r_pct_EM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_52_s_adj_EM" class="control-label"></label>
                <input asp-for="p0_52_s_adj_EM" class="form-control" />
                <span asp-validation-for="p0_52_s_adj_EM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_52_s_adj_EM" class="control-label"></label>
                <input asp-for="p1_52_s_adj_EM" class="form-control" />
                <span asp-validation-for="p1_52_s_adj_EM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_52_r_adj_EM" class="control-label"></label>
                <input asp-for="p0_52_r_adj_EM" class="form-control" />
                <span asp-validation-for="p0_52_r_adj_EM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_52_r_adj_EM" class="control-label"></label>
                <input asp-for="p1_52_r_adj_EM" class="form-control" />
                <span asp-validation-for="p1_52_r_adj_EM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="match_id" class="control-label"></label>
                <input asp-for="match_id" class="form-control" />
                <span asp-validation-for="match_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_s_kls" class="control-label"></label>
                <input asp-for="p0_s_kls" class="form-control" />
                <span asp-validation-for="p0_s_kls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_s_kls" class="control-label"></label>
                <input asp-for="p1_s_kls" class="form-control" />
                <span asp-validation-for="p1_s_kls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_s_kls_EM" class="control-label"></label>
                <input asp-for="p0_s_kls_EM" class="form-control" />
                <span asp-validation-for="p0_s_kls_EM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_s_kls_EM" class="control-label"></label>
                <input asp-for="p1_s_kls_EM" class="form-control" />
                <span asp-validation-for="p1_s_kls_EM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_s_sf_kls" class="control-label"></label>
                <input asp-for="p0_s_sf_kls" class="form-control" />
                <span asp-validation-for="p0_s_sf_kls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_s_sf_kls" class="control-label"></label>
                <input asp-for="p1_s_sf_kls" class="form-control" />
                <span asp-validation-for="p1_s_sf_kls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_s_sf_kls_EM" class="control-label"></label>
                <input asp-for="p0_s_sf_kls_EM" class="form-control" />
                <span asp-validation-for="p0_s_sf_kls_EM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_s_sf_kls_EM" class="control-label"></label>
                <input asp-for="p1_s_sf_kls_EM" class="form-control" />
                <span asp-validation-for="p1_s_sf_kls_EM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_s_adj_kls" class="control-label"></label>
                <input asp-for="p0_s_adj_kls" class="form-control" />
                <span asp-validation-for="p0_s_adj_kls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_s_adj_kls" class="control-label"></label>
                <input asp-for="p1_s_adj_kls" class="form-control" />
                <span asp-validation-for="p1_s_adj_kls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_s_adj_kls_EM" class="control-label"></label>
                <input asp-for="p0_s_adj_kls_EM" class="form-control" />
                <span asp-validation-for="p0_s_adj_kls_EM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_s_adj_kls_EM" class="control-label"></label>
                <input asp-for="p1_s_adj_kls_EM" class="form-control" />
                <span asp-validation-for="p1_s_adj_kls_EM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_s_commop_kls" class="control-label"></label>
                <input asp-for="p0_s_commop_kls" class="form-control" />
                <span asp-validation-for="p0_s_commop_kls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_s_commop_kls" class="control-label"></label>
                <input asp-for="p1_s_commop_kls" class="form-control" />
                <span asp-validation-for="p1_s_commop_kls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_s_baseline" class="control-label"></label>
                <input asp-for="p0_s_baseline" class="form-control" />
                <span asp-validation-for="p0_s_baseline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_s_baseline" class="control-label"></label>
                <input asp-for="p1_s_baseline" class="form-control" />
                <span asp-validation-for="p1_s_baseline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="match_prob_kls" class="control-label"></label>
                <input asp-for="match_prob_kls" class="form-control" />
                <span asp-validation-for="match_prob_kls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="match_prob_kls_EM" class="control-label"></label>
                <input asp-for="match_prob_kls_EM" class="form-control" />
                <span asp-validation-for="match_prob_kls_EM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="match_prob_sf_kls" class="control-label"></label>
                <input asp-for="match_prob_sf_kls" class="form-control" />
                <span asp-validation-for="match_prob_sf_kls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="match_prob_sf_kls_EM" class="control-label"></label>
                <input asp-for="match_prob_sf_kls_EM" class="form-control" />
                <span asp-validation-for="match_prob_sf_kls_EM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="match_prob_adj_kls" class="control-label"></label>
                <input asp-for="match_prob_adj_kls" class="form-control" />
                <span asp-validation-for="match_prob_adj_kls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="match_prob_adj_kls_EM" class="control-label"></label>
                <input asp-for="match_prob_adj_kls_EM" class="form-control" />
                <span asp-validation-for="match_prob_adj_kls_EM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="match_prob_commop_kls" class="control-label"></label>
                <input asp-for="match_prob_commop_kls" class="form-control" />
                <span asp-validation-for="match_prob_commop_kls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="match_prob_commop" class="control-label"></label>
                <input asp-for="match_prob_commop" class="form-control" />
                <span asp-validation-for="match_prob_commop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="elo_prob" class="control-label"></label>
                <input asp-for="elo_prob" class="form-control" />
                <span asp-validation-for="elo_prob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sf_elo_prob" class="control-label"></label>
                <input asp-for="sf_elo_prob" class="form-control" />
                <span asp-validation-for="sf_elo_prob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p0_s_kls_elo" class="control-label"></label>
                <input asp-for="p0_s_kls_elo" class="form-control" />
                <span asp-validation-for="p0_s_kls_elo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="p1_s_kls_elo" class="control-label"></label>
                <input asp-for="p1_s_kls_elo" class="form-control" />
                <span asp-validation-for="p1_s_kls_elo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
